In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Train.csv и Test.csv
#date - дата продажа
#store_nbr - id магазина, где был продан товар
#family - семейство продуктов
#sales - общие продажи семейства продуктов в магазине на дату
#onpromotion - общее кол-во товаров семейства, которые продавались в магазине в тот день

#Stores.csv
#store_nbr - id магазина
#city - город магазина
#state - область, в которой расположен магазин
#type - тип магазина
#cluster - объединение похожих магазинов

#Oil.csv
#date - дата курса
#dcoilwtico - курс нефти

#Holidays_events.csv
#date - дата праздника
#type - тип праздника (Holiday - оф. праздник; Transfer - перенос праздника; Additional - доп дни; Bridge - перенос дней;
#                      Work Day - день отработки переноса; Event - событие)
#locale - уровень праздника (местный, региональный, национальаный)
#locale_name местное название
#description - описание
#transferred - был ли перенос

#! ЗП в гос. секторе выплачиваются 15 числа и в последнее число месяца
#!! 16.04.2016 было сильное землятрясение. Несколько недель люди помогали пострадавшим водой и вещами первой необходимости

In [30]:
def getNanColumns(data):
    result = []
    for col in data.columns:
        nan_amount = data[col].isna().sum()
        if nan_amount > 0:
            result.append((col, nan_amount))
    return result

In [7]:
#Загрузка данных
df_full = pd.concat([pd.read_csv('train.csv'), pd.read_csv('test.csv')], axis=0)
df_stores = pd.read_csv('stores.csv')
df_oil = pd.read_csv('oil.csv')
df_holidays = pd.read_csv('holidays_events.csv')

In [11]:
#Сцепление данных
df = pd.merge(df_full, df_stores, how='left', on='store_nbr')
df = pd.merge(df, df_oil, how='left', on='date')
df = pd.merge(df, df_holidays, how='left', on='date')

In [37]:
#Работа с пропусками
getNanColumns(df)

[('sales', np.int64(28512)), ('dcoilwtico', np.int64(962280))]

In [32]:
df['type_y'] = df['type_y'].fillna('Normal')
df['locale'] = df['locale'].fillna('Normal')
df['locale_name'] = df['locale_name'].fillna('Normal')
df['description'] = df['description'].fillna('Normal')
df['transferred'] = df['transferred'].fillna('Normal')

In [39]:
df.sort_values(by='date')

,id,date,store_nbr,family,sales,onpromotion,city,state,type_x,cluster,dcoilwtico,type_y,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1194,1194,2013-01-01,42,CELEBRATION,0.0,0,Cuenca,Azuay,D,2,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1193,1193,2013-01-01,42,BREAD/BAKERY,0.0,0,Cuenca,Azuay,D,2,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1192,1192,2013-01-01,42,BOOKS,0.0,0,Cuenca,Azuay,D,2,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1191,1191,2013-01-01,42,BEVERAGES,0.0,0,Cuenca,Azuay,D,2,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3081665,3028205,2017-08-31,25,PET SUPPLIES,NaN,0,Salinas,Santa Elena,D,1,47.26,Normal,Normal,Normal,Normal,Normal
3081664,3028204,2017-08-31,25,PERSONAL CARE,NaN,6,Salinas,Santa Elena,D,1,47.26,Normal,Normal,Normal,Normal,Normal
3081663,3028203,2017-08-31,25,MEATS,NaN,1,Salinas,Santa Elena,D,1,47.26,Normal,Normal,Normal,Normal,Normal
3081674,3028214,2017-08-31,26,BEAUTY,NaN,1,Guayaquil,Guayas,D,10,47.26,Normal,Normal,Normal,Normal,Normal
3082859,3029399,2017-08-31,9,SEAFOOD,NaN,0,Quito,Pichincha,B,6,47.26,Normal,Normal,Normal,Normal,Normal